{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Editar Categoria de Custo
                    </h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{{ route('category-costs.update', {'id': category.id}) }}">
                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <input class="form-control" type="text" placeholder="Nome"
                                   name="name" value="{{ category.name }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}