<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Financial Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                    <div class="navbar-header">
            
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                             data-target="#app-navbar-collapse">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
            
                            <a class="navbar-brand" href="#">
                                    Financial Manager
                                </a>
                        </div>

                    <div class="collapse navbar-collapse" id="app-navbar-collapse">
                            <ul class="nav navbar-nav">
                                </ul>
            
                            <ul class="nav navbar-nav navbar-right">
                                    <li><a>Olá Usuário</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                        </div>
                </div>
        </nav>
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html> 